.input-password {
  border-radius: 10px;
  background-color: #ececec;
  border: none;
  padding: 17px 32px 12px;
  font-size: 18px;
  outline: none;
  outline-color: rgb(236, 236, 236);
}

.passwordInput-label {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}
